.citySearch {
    font: black;
}
body {
    margin-top: 25px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    background-image: url(travellingimage.jpg);
    background-repeat: no-repeat;
    background-size: 1750px;
    background-position: center top;
    font-size: large;
    font-weight: bold;
    color: tan;

}
h1{
    display: inline-block;
    border: 1px solid dimgrey;
    font-size: 33px;
    margin-bottom: 25px;
}
h2 {
    display: inline-block;
    border: 1px solid dimgrey;
    font-size: 33px; 
    margin-bottom: 25px;
}
h3 {
    display: inline-block;
    border: 1px solid dimgrey;
    font-size: 33px;
    margin-bottom: 25px;
}
h4 {
    display: inline-block;
    border: 3px solid dimgrey;
    font-size: 99px;
}
.teamInfo {
    margin-top: 10px;
    font-size: 10px;

}
.pageInfo {
    margin-top: 10px;
    font-size: 10px;

}
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: white;
}

